:root {
  --color-background: hsl(55, 100%, 98%);

  --color-white: #FFF;
  --color-black: #000;

  --color-accent-primary: #0067FB;
  --color-accent-primary-variant: #0029F9;

  --color-text: hsl(195, 12%, 41%);
  --color-text-light: hsl(195, 12%, 60%);
  --color-text-dark: hsl(197, 49%, 17%);

  // Couldn't get these to work with media queries
  --breakpoint-mobile: 576px;
  --breakpoint-tablet: 768px;
  --breakpoint-large: 992px;
  --breakpoint-extra-large: 1200px;
}

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;
