:root {
  --color-white: #FFF;
  --color-black: #000;

  --color-background: hsl(55, 100%, 95%);
  --color-background-dark: hsl(55, 100%, 90%);

  --color-accent: #0067FB;
  --color-accent-variant: orangered;
  --color-accent-inverse: var(--color-background);

  --color-foreground: hsl(195, 12%, 35%);
  --color-foreground-dark: hsl(197, 49%, 17%);

  // Couldn't get these to work with media queries
  --breakpoint-mobile: 576px;
  --breakpoint-tablet: 768px;
  --breakpoint-large: 992px;
  --breakpoint-extra-large: 1200px;
}

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;
