---
layout: default
---
<div class="page">
  <header class="page__header">
    <h1>
      <code>{{ site.title}}</code>
      {% if page.title == 'Home' %}
        <br />
        {{ site.description }}
      {% endif %}
    </h1>
    <p>
      <a href="{{ "/" | prepend: site.baseurl }}">Home</a><span class="u-separate"></span>
      <a href="{{ "/about/" | prepend: site.baseurl }}">About</a><span class="u-separate"></span>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
    </p>
  </header>

  <div class="page__main">
    {{ content }}
  </div>

  <footer class="page__footer">
    <p>&copy; {{ site.author }} {{ 'now' | date: '%Y' }}</p>
    <p>
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">Github</a>
      {% endif %}
      {% if site.twitter_username %}
        <span class="u-separate"></span>
        <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
      {% endif %}
      {% if site.instagram_username %}
        <span class="u-separate"></span>
        <a href="https://www.instagram.com/{{ site.instagram_username }}">Instagram</a>
      {% endif %}
      {% if site.linkedin_username %}
        <span class="u-separate"></span>
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a>
      {% endif %}
    </p>
  </footer>
</div>
