---
layout: page
---
<article class="post">
  <header class="post__header">
    <h1 class="post__title">
      {{ page.title }}
      {% if page.link %}
        <a href="{{ page.link }}" class="simple"><i class="fas fa-link"></i></a>
      {% endif %}
    </h1>
    <p class="post__time"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
  </header>
  <!-- Post Tags -->
  <ul class="tags">
    {% for tag in page.tags %}
    <li class="tag">{{ tag }}</li>
    {% endfor %}
  </ul>
  <div class="post__main">
    {{ content }}
  </div>
  <footer class="post__footer">
    <!-- Previous / Next Buttons -->
    {% if page.previous.url %}
      <div class="page__nav-wrapper page__nav-left">
        <p><small><strong>Previous</strong> {{page.previous.date | date: "%b %-d, %Y"}}</small></p>
        <a class="simple" href="{{ page.previous.url | prepend: site.baseurl }}">&laquo; {{page.previous.title}}</a>
      </div>
      {% endif %}
      {% if page.next.url %}
      <div class="page__nav-wrapper page__nav-right">
        <a class="simple" href="{{ page.next.url | prepend: site.baseurl }}">{{page.next.title}} &raquo;</a>
        <p><small>{{page.next.date | date: "%b %-d, %Y"}} <strong>Next</strong></small></p>
      </div>
      {% endif %}
  </footer>
  {% include disqus.html %}
</article>
